*{
    z-index: 1;
}

body {
    background-color: black;
    overflow: hidden;
}

#background {
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    z-index: 0;

    background: linear-gradient(to top left, #9df2ff, #9cffb1);
}

#home-btn {
    position: absolute;
    top: 3rem;
    left: 5rem;
}
#move-btn {
    position: absolute;
    top: 3rem;
    left: 9.2rem;
}


#schodule-table {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    height: 100vh;
}

#main-table {
    border-collapse: collapse;

    font-size: 1.5em;

    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#table-title-text {
    margin: 0px;
    font-size: 2.5rem;
    font-weight: bold;
}
#table-sub-title {
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 500;
}

#main-table thead tr {
    background-color: #00947b;
    color: #ffffff;
    text-align: center;
}

#main-table td,
#main-table th {
    padding: 5px 25px 5px 25px;

    font-weight: 500;
}

#main-table tr:nth-child(even) td {
    background-color: rgb(255, 245, 245);
    color: black;
}

#main-table tr:nth-child(odd) td {
    background-color: #e2e9eb;
    color: black;
}

footer {
    position: absolute;

    bottom: 0px;
    left: 5rem;

    height: 8rem;

    font-weight: bold;
}

#footer-text {
    line-height: 0%;
}

#selected-date {
    height: 30px;

    background-color: #212529;

    color: white;
}
.date-picker {
    margin-top: 5px;
}
.date-picker input[type="date"] {
    border-radius: 5px;
    border: none;
    overflow:hidden;

    text-align: center;

    font-size: 16px;
    font-family: sans-serif;
}

.spinner {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}