body{
    background: linear-gradient(to top left, black, black);
    overflow: hidden;
    background-size: 100vw 100vh;

    /* background-image: url(../media/bg.jpg); */
}

#menu {
    margin-top: 35vh;

    text-align: center;
}

#menu-title {
    color: white;
    font-weight: bold;

    display: none;
}

#menu-sub-title {
    color: gray;
    font-size: 15px;

    display: none;
}

#todaySchedule {
    display: none;
}

#todayFood {
    display: none;
}